 .Vbox{
  -fx-background-image:url("lorenzo_materiale_grafico_compr/GameboardElements/gameboard_f_c2.png");
   -fx-background-size:     cover;                      /* <------ */
   -fx-background-repeat:   no-repeat;
   -fx-background-position: center center;
 }
 
 .AnchorPane{
   -fx-background-image:url("lorenzo_materiale_grafico_compr/GameboardElements/sfondo.jpg");
   -fx-background-size:     cover;                      /* <------ */
   -fx-background-repeat:   no-repeat;
   -fx-background-position: center center;
 }

 .Hbox{
     -fx-background-image:url("lorenzo_materiale_grafico_compr/GameboardElements/PersonalBoardGoodSet.jpg");
     -fx-background-size:     cover;                      /* <------ */
     -fx-background-repeat:   no-repeat;
     -fx-background-position: center center;
 }

 .Tab1{
     -fx-background-image:url("lorenzo_materiale_grafico_compr/GameboardElements/PersonalBoardTop1copy.jpg");
     -fx-background-size:     cover;                      /* <------ */
     -fx-background-repeat:   no-repeat;
     -fx-background-position: center center;
 }

 .Tab2{
     -fx-background-image:url("lorenzo_materiale_grafico_compr/GameboardElements/PersonalBoardTop2copy.jpg");
     -fx-background-size:     cover;                      /* <------ */
     -fx-background-repeat:   no-repeat;
     -fx-background-position: center center;
 }
